!!!
%html
  %head
    %title Smithers
    = stylesheet_link_tag "auth", media: "all", 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{href: "//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", rel: "stylesheet", type: "text/css"}
  %body.auth
    .wrapper
      %header
        = image_tag "billing-logo.png"
      .card= yield

    %footer
      %small.attribution
        Background photo by 
        = link_to "Pictures of Money", "https://flic.kr/p/s4fksR"
        published under 
        = link_to "Creative Commons license", "https://creativecommons.org/licenses/by/2.0/"